.incoming-message-content {
  border: 1px solid rgba(255, 0, 0, 0.712);
  background: rgba(255, green, blue, 0.1);
  width: 100px;
  height: 40px;
}
.outgoing-message-content {
  border: 1px solid rgba(255, 0, 0, 0.712);
  background: rgba(255, green, blue, 0.1);
  width: 100px;
  height: 40px;
}
