<div class="container">
  <h3 class="text-center chat_header">Chat Application</h3>
  <div class="messaging">
    <div class="messages-box">
      <div class="message-history">
        <div *ngFor="let message of messages">
          <app-chat-message [message]="message"></app-chat-message>
        </div>
      </div>
    </div>
    <div class="message-write">
      <input
        type="text"
        [value]="txtMessage"
        (input)="txtMessage = $event.target.value"
        (keydown.enter)="sendMessage()"
        placeholder="Type a message"
      />
      <button class="message-send-button" type="button" (click)="sendMessage()">
        <i class="fas fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
